:root {
  --white-color: #ffffff;
  --fifth-color: #f3ede7;
  --fourth-color: #fbca20;
  --secondary-color: #926c15;
  --third-color: #685019;
  --primary-color: #62412b;
  --sixth-color: #563926;
  --gray-color: #292d32;
  --text-color: #1d1d1b;
  --black-color: #000000;
}

@font-face {
  font-family: "DimaKodak";
  src: url("./assets/fonts/DimaKoodak.woff");
}
@font-face {
  font-family: "Hudhund";
  src: url("./assets/fonts/Hudhud-AR-Regular.woff");
}

*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
section,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DimaKodak", sans-serif;
  font-size: 1.2rem;
  word-spacing: 3px;
}

button {
  outline: 0;
  border: 0;
  background-color: inherit;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all ease 0.2s;
}
a:hover {
  color: var(--secondary-color);
}

input {
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
}

.mobileHeader {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  inset: 0;
  width: 100%;
  height: 80px;
  background-color: var(--primary-color);
  color: var(--white-color);
  z-index: 60;
}
.mobileHeader > button {
  width: 26px;
  height: 26px;
  color: var(--white-color);
}
.mobileHeader > button > * {
  width: 26px;
  height: 26px;
  color: var(--white-color);
}
.mobileHeader > img {
  width: 100px;
  height: 100px;
}

.offcanvasOverlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #0000008c;
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}

.MobileOffcanvas {
  position: fixed;
  inset: 0;
  right: -300px;
  width: 260px;
  height: 100%;
  background-color: var(--fifth-color);
  z-index: 95;
  transition: right 0.3s ease;
}

.offcanvasOverlay.show,
.MobileOffcanvas.show {
  opacity: 1;
  visibility: visible;
}

.MobileOffcanvas.show {
  right: 0;
}

.MobileOffcanvas > button {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 25px;
  height: 25px;
}

.MobileOffcanvas > ul > li {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.mainHeader {
  width: 100%;
  max-width: 1580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}

.mainHeader > section > ul {
  display: flex;
  align-items: center;
  gap: 63px;
}

.mainHeader > section > ul > li {
  font-weight: 500;
  /* font-size: 25px; */
}
.mainHeader > section > ul > li.active {
  color: var(--secondary-color);
  position: relative;
}
.mainHeader > section > ul > li.active2 {
  color: var(--fourth-color);
  position: relative;
}
.mainHeader > section > ul > li.active2 > a {
  color: var(--fourth-color);
}
.mainHeader > section > ul > li.active::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: var(--secondary-color);
  bottom: -12px;
  right: 23px;
  border-radius: 12px;
}
.mainHeader > section > ul > li.active2::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: var(--fourth-color);
  bottom: -12px;
  right: 23px;
  border-radius: 12px;
}

.mainHeader > section:first-child {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.headerBtns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerBtns > a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid var(--primary-color);
  background-color: var(--white-color);
}

.Banner,
.Banner2,
.Banner3 {
  background-image: url("./assets/imgandIcons/mainBanner.svg");
  height: 1150px;
  /* width: 1200px; */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  padding-top: 3rem;
  margin: 0 auto;
}

.Banner2 {
  background-image: url("./assets/imgandIcons/backgroundimage2.png");
  height: 770px;
  width: 100%;
  background-size: cover;
}

.Banner3 {
  background-image: url("./assets/imgandIcons/banner3Image.png");
  background-size: cover;
  height: 900px;
  padding-bottom: 57px;
}

.Banner3 > .BlurContainer {
  width: 100%;
  max-width: 1660px;
  /* background-color: red; */
  backdrop-filter: blur(10px);
  border: 2px solid var(--sixth-color);
  border-radius: 24px;
  margin: 0 auto;
  height: 100%;
  padding-top: 1.5rem;
}

.Banner3 .BannerContent_aboutus {
  color: var(--white-color);
  width: 100%;
  max-width: 535px;
  margin-right: 8rem;
  margin-top: 8rem;
}

.Banner3 .BannerContent_aboutus > h4 {
  font-weight: 400;
  font-size: 55px;
  font-family: "Hudhund";
}
.Banner3 .BannerContent_aboutus > p {
  font-weight: 400;
  /* font-size: 55px; */
  text-align: justify;
}

.Banner2 > .mainHeader,
.Banner3 > .mainHeader {
  max-width: 1720px;
  margin-top: 1rem;
}

.Banner2 > .mainHeader > section > ul > li > a:hover {
  color: var(--fourth-color);
}

.Banner2 .BannerContent {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.Banner2 .BannerContent > div:nth-of-type(1) > h4 {
  font-weight: 400;
  font-size: 55px;
  font-family: "Hudhund";
}
.Banner2 .BannerContent > div:nth-of-type(1) > p {
  font-weight: 500;
  /* font-size: 55px; */
}

.bannerOptionsSecContainer {
  max-width: 1802px;
  margin: 0 auto;
  padding-right: 239px;
  padding-top: 160px;
}

.bannerOptionsSec {
  display: flex;
}
.bannerOptionsSec > section {
  border-radius: 10px;
  width: 370px;
}

.bannerOptionsSecText > h3 {
  color: var(--primary-color);
  font-size: 90px;
  font-weight: 400;
  font-family: "Hudhund";
}

.bannerOptionsSecText > p {
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: 500;
  text-align: justify;
}

.bannerOptionsSec3Options {
  color: var(--primary-color);
  background-color: var(--white-color);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1),
    4px 8px 9px 0px rgba(0, 0, 0, 0.09), 9px 18px 12px 0px rgba(0, 0, 0, 0.05),
    16px 32px 14px 0px rgba(0, 0, 0, 0.01), 26px 49px 16px 0px rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 10px 12px 10px 10px;
}

.bannerOptionsSec3Options > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bannerOptionsSec3Options > div > span {
  font-weight: 400;
  font-size: 20px;
}

.bannerOptionsSec3Options > div > button {
  background-color: var(--fourth-color);
  color: var(--primary-color);
  width: 244px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 4px 15px;
}

.SecondSecContainer {
  width: 100%;
  max-width: 1080px;
  margin: 4rem auto 0;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  text-align: center;
}

.SecondSecHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 1rem; */
}

.SecondSecHeader > h3 {
  color: var(--primary-color);
  font-size: 55px;
  font-weight: 400;
  font-family: "HudHund";
}

.SecondSecHeader > p {
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: 400;
}

.SecondSecTabsContainer,
.TabsContainer2 {
  display: flex;
  gap: 10px;
  padding: 4px 10px;
  border-radius: 10px;
  border: 1px solid var(--black-color);
  width: fit-content;
  margin: 0 auto;
}

.SecondSecTabsContainer > button,
.TabsContainer2 > button {
  color: var(--primary-color);
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  position: relative;
  transition: all ease 0.2s;
}

.SecondSecTabsContainer > button:hover,
.TabsContainer2 > button:hover {
  background-color: var(--fourth-color);
}

/* .SecondSecTabsContainer > button:nth-child(2)::before, .TabsContainer2 > button:nth-child(2)::before {
  content: "";
  position: absolute;
  right: -5px;
  top: 18px;
  width: 100px;
  background-color: var(--primary-color);
}
.SecondSecTabsContainer > button:nth-child(2)::after, .TabsContainer2 > button:nth-child(2)::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 18px;
  height: 17px;
  width: 1px;
  background-color: var(--primary-color);
} */

.SecondSecTabsContainer > button > .Divider1,
.TabsContainer2 > button > .Divider1 {
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
}
.SecondSecTabsContainer > button > .Divider2,
.TabsContainer2 > button > .Divider2 {
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
}
.SecondSecTabsContainer > button.active,
.TabsContainer2 > button.active {
  background-color: var(--fourth-color);
}
.TabsContainer2 {
  background-color: var(--white-color);
}

.SecondSecCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(328px, 1fr)) !important;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.SecondSecCardContainer .MiniCard,
.CardsListContainer .MiniCard {
  width: 330px;
  border-radius: 16px;
  border: 0.5px solid var(--primary-color);
  position: relative;
  box-shadow: 1px 2px 6px 0px #0000001a, 5px 10px 11px 0px #00000017,
    12px 22px 15px 0px #0000000d, 22px 39px 18px 0px #00000003,
    34px 62px 20px 0px #00000000;
  padding: 10px;
}

.SecondSecCardContainer .MiniCard > button,
.CardsListContainer .MiniCard > button {
  background-color: var(--primary-color);
  color: var(--fourth-color);
  border-radius: 10px;
  font-weight: 400;
  font-size: 1rem;
  padding: 7px 20px 7px 20px;
  width: 100%;
  transition: all ease 0.2s;
}
.SecondSecCardContainer .MiniCard > button:hover,
.CardsListContainer .MiniCard > button:hover {
  background-color: var(--secondary-color);
}

.DiscountIcon {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.MiniCardDescription > h4 {
  color: var(--primary-color);
  border-bottom: 0.7px solid var(--primary-color);
  /* font-size: 1.2rem; */
  font-weight: 500;
  text-align: center;
}

.MiniCardDescription > section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 49px;
  row-gap: 12px;
}

.MiniCardDescription > section > div {
  display: flex;
  align-items: center;
  gap: 7px;
}

.MiniCardDescription > section > div > p {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}

.SecondSecPaginateContainer > div:nth-child(2) {
  /* background-color: blue; */
  margin-right: 7rem;
}
.SecondSecPaginateContainer > div:last-child {
  color: var(--primary-color);
}

.ThirdSecContainer {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ThirdSecSecondBackdrop {
  background-color: var(--fifth-color);
  width: 100%;
  height: 615px;
  border-radius: 0px 307.5px 19px 0px;
  background-image: url("./assets/imgandIcons/Mask-group.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 4.5rem;
  position: relative;
  z-index: 10;
}

.ThirdSecSecondBackdrop > div:first-child {
  width: 100%;
  max-width: 615px;
}
.ThirdSecSecondBackdrop > div:first-child > h4 {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 55px;
  font-family: "Hudhund";
}

.ThirdSecSecondBackdrop > div:first-child > p {
  color: var(--text-color);
  font-weight: 400;
  /* font-size: 15px; */
  line-height: 36px;
  text-align: justify;
}

.ThirdSecSecondBackdrop > section {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 25px 55px;
  position: absolute;
  width: 100%;
  max-width: 780px;
  bottom: -80px;
  right: 35px;
}

.ThirdSecSecondBackdrop > section > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.ThirdSecSecondBackdrop > section > div > img {
  width: 62px;
  height: 54px;
}

.ThirdSecSecondBackdrop > section > div > span:nth-child(2) {
  color: var(--white-color);
  font-size: 2.4rem;
  font-weight: 400;
}

.ThirdSecSecondBackdrop > section > div > span:nth-child(3) {
  color: var(--fifth-color);
  /* font-size: 16px; */
  font-weight: 400;
}

.ThirdSecSecondBackdrop > .CoffeBoard {
  position: absolute;
  bottom: -550px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

.HomeCoffeBoardTextContainer {
  max-width: 1200px;
  margin: 10rem auto 0;
}

.HomeCoffeBoardText {
  max-width: 530px;
}

.HomeCoffeBoardText > h4 {
  font-weight: 400;
  font-size: 45px;
  font-family: "Hudhund";
  position: relative;
}
.HomeCoffeBoardText > h4 > img {
  position: absolute;
  bottom: -20px;
  rotate: -10deg;
}
.HomeCoffeBoardText > p {
  font-weight: 400;
  /* font-size: 15px; */
  line-height: 35px;
  text-align: justify;
}

.ForhSecContainer {
  width: 100%;
  max-width: 1300px;
  margin: 10rem auto 0;
  display: flex;
  gap: 2rem;
}

.ForhSecContainer > section:first-child {
  position: relative;
}

.ForhSecContainer > section:first-child > img:last-child {
  position: absolute;
  right: -35px;
  bottom: -45px;
}

.ForhSecContainer > section:last-child > div > h4 {
  font-weight: 400;
  font-size: 50px;
  font-family: "Hudhund";
  color: var(--primary-color);
}

.ForhSecContainer > section:last-child > div > p {
  font-weight: 400;
  /* font-size: 1.2rem; */
  color: var(--secondary-color);
}

.FifthSecContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("./assets/imgandIcons/backdropImage.png");
  background-size: cover;
  height: 448px;
  margin-top: 14rem;
}

.FifthSecContainer.aboutus-page {
  margin-top: 6rem;
  justify-content: center;
  gap: 4rem;

}

.FifthSecContainer > div:first-child > h4 {
  font-weight: 400;
  font-size: 50px;
  font-family: "Hudhund";
  color: var(--white-color);
}

.FifthSecContainer > div:first-child > p {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--fourth-color);
  /* word-spacing: 8px; */
  text-align: center;
}

.FifthSecContainer > form > div > input {
  background-color: #2b1d154a;
  width: 280px;
  font-weight: 300;
  padding: 6px 10px;
  border-radius: 10px;
  border: 0.8px solid var(--white-color);
  backdrop-filter: blur(10px);
  color: var(--white-color);
}
.FifthSecContainer.aboutus-page > form > input {
  background-color: #2b1d154a;
  width: 350px;
  font-weight: 300;
  padding: 6px 10px;
  border-radius: 10px;
  border: 0.8px solid var(--white-color);
  backdrop-filter: blur(10px);
  color: var(--white-color);
}
.FifthSecContainer.aboutus-page > form {
  display: flex;
  width: 100%;
  max-width: 800px;
}
.FifthSecContainer.aboutus-page > form > button {
 margin: 0;
}

.FifthSecContainer > form > div > input::placeholder, .FifthSecContainer.aboutus-page > form > input::placeholder  {
  color: var(--white-color);
  font-weight: 100;
}

.FifthSecContainer > form > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 6px 10px;

  background-color: var(--fourth-color);
  color: var(--gray-color);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 1rem;
  position: relative;
}

footer > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 940px;
}

footer > section > div:nth-of-type(1) > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 15px;
}

footer > section > div:nth-of-type(2) > span,
footer > section > div:nth-of-type(3) > span {
  color: var(--text-color);
  font-size: 1.4rem;
  position: relative;
  margin-right: 10px;
}
footer > section > div:nth-of-type(2) > span::before,
footer > section > div:nth-of-type(3) > span::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 18px;
  bottom: 50%;
  right: -10px;
  transform: translateY(50%);
  border-radius: 12px;
  background-color: var(--third-color);
}

footer > section > div:nth-of-type(2) > ul > li > a,
footer > section > div:nth-of-type(3) > ul > li > a {
  color: var(--third-color);
  font-size: 1.1rem;
}

footer > section > div:nth-of-type(3) > ul > li:not(:first-child) {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer > section > div:nth-of-type(3) > ul > li:first-child {
  display: flex;
  align-items: start;
  gap: 12px;
  color: var(--third-color);
}

footer .footerSvg2 {
  position: absolute;
  top: -12px;
  right: 0;
  z-index: -1;
}

footer .footerSvg1 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.ListFiltersContainer {
  margin: 4rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ListFiltersContainer > button {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border-radius: 12px;
  padding: 6px 10px;
  width: 110px;
  color: var(--white-color);
  position: relative;
}
.ListFiltersContainer > button > ul {
  cursor: default;
}
.ListFiltersContainer > button > span {
  font-weight: 400;
  font-size: 1rem;
}
.ListFiltersContainer > button > .OptionGBadge {
  background-color: var(--fourth-color);
  color: var(--white-color);
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  font-size: 0.8rem;
  margin-right: auto;
  margin-left: 5px;
}

.CardsListContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  gap: 45px;
}

.ListFilterDropDown {
  position: absolute;
  top: 120%;
  right: 0;
  width: 225px;
  /* padding: 6px 10px; */
  display: none;
  flex-direction: column;
  background-color: var(--white-color);
  color: var(--primary-color);
  z-index: 10;
  border-radius: 12px;
  box-shadow: 5px 4px 13.3px 0px #0000005e;
  overflow: hidden;
}

.ListFilterDropDown > li {
  text-align: start;
  padding: 0.4rem;
}
.ListFilterDropDown > li:hover {
  color: var(--fourth-color);
}
.ListFilterDropDown > li > label {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}
.ListFilterDropDown > li > label > span.active {
  color: var(--fourth-color);
}
.ListFilterDropDown > li > label > input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.ListFilterDropDown > li > label > .checkImg,
.ListFilterDropDown > li > label > .uncheckImg {
  width: 20px;
  height: 20px;
}

.ListFilterDropDown > li > label > .checkImg {
  display: none;
}

input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.ListFilterDropDown > li:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.VitrinTeamSec {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 6rem;
}

.VitrinTeamSec > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.VitrinTeamSec > div:nth-of-type(1) > h4 {
  font-weight: 400;
  font-size: 50px;
  font-family: "Hudhund";
  color: var(--primary-color);
}
.VitrinTeamSec > div:nth-of-type(1) > p {
  font-weight: 400;
  /* font-size: 50px; */
  color: var(--secondary-color);
}
.VitrinTeamSec > div:nth-of-type(1) > p {
  font-weight: 400;
  /* font-size: 50px; */
  color: var(--secondary-color);
}
.VitrinTeamSec > div:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  gap: 10px;
  padding: 0 1rem;
}

.TeamMemberCard {
  background-color: var(--primary-color);
  padding: 15px;
  border: 1px solid var(--fourth-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 23px;
  width: 201px;
  margin: 0 auto;
  box-shadow: 2px 4px 10px 0px #0000001a, 7px 16px 18px 0px #00000017,
    15px 36px 24px 0px #0000000d, 27px 65px 28px 0px #00000003,
    43px 101px 31px 0px #00000000;
}

.TeamMemberCard > div:nth-of-type(1) {
  border-radius: 50%;
}
.TeamMemberCard > div:nth-of-type(2) > h6 {
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--fourth-color);
}
.TeamMemberCard > div:nth-of-type(2) > span {
  font-weight: 400;
  font-size: 1rem;
  color: var(--white-color);
}
