:root {
  --primary-color: #62412b;
  --secondary-color: #926c15;
  --third-color: #685019;
  --fourth-color: #fbca20;
  --fifth-color: #f3ede7;
  --text-color: #1d1d1b;
  --white-color: #ffffff;
  --black-color: #000000;
}

@font-face {
  font-family: "DimaKodak";
  src: url("./assets/fonts/DimaKoodak.woff")
}
@font-face {
  font-family: "Hudhund";
  src: url("./assets/fonts/Hudhud-AR-Regular.woff")
}

*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
section,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DimaKodak', sans-serif;
  font-size: 1.2rem;
  word-spacing: 3px;
}

button {
  outline: 0;
  border: 0;
  background-color: inherit;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all ease 0.2s;
}
a:hover {
  color: var(--secondary-color);
}

.mainHeader {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}

.mainHeader > section > ul {
  display: flex;
  align-items: center;
  gap: 63px;
}

.mainHeader > section > ul > li {
  font-weight: 500;
  /* font-size: 25px; */
}
.mainHeader > section > ul > li.active {
  color: var(--secondary-color);
  position: relative;
}
.mainHeader > section > ul > li.active::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: var(--secondary-color);
  bottom: -20px;
  right: 30px;
  border-radius: 12px;
}

.mainHeader > section:first-child {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.headerBtns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerBtns > a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid var(--primary-color);
  background-color: var(--white-color);
}

.Banner {
  background-image: url(./assets//imgandIcons/mainBanner.svg);
  height: 900px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: 3rem;
}

.bannerOptionsSecContainer {
  max-width: 1602px;
  margin: 0 auto;
  padding-right: 239px;
  padding-top: 70px;
}

.bannerOptionsSec {
  display: flex;
  width: 353px;
}
.bannerOptionsSec > section {
  border-radius: 10px;
}

.bannerOptionsSecText > h3 {
  color: var(--primary-color);
  font-size: 90px;
  font-weight: 400;
  font-family: "Hudhund";
}

.bannerOptionsSecText > p {
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: 500;
  text-align: justify;
}

.bannerOptionsSec3Options {
  color: var(--primary-color);
  background-color: var(--white-color);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1),
    4px 8px 9px 0px rgba(0, 0, 0, 0.09), 9px 18px 12px 0px rgba(0, 0, 0, 0.05),
    16px 32px 14px 0px rgba(0, 0, 0, 0.01), 26px 49px 16px 0px rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 10px 12px 10px 10px;
}

.bannerOptionsSec3Options > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bannerOptionsSec3Options > div > span {
  font-weight: 400;
  font-size: 20px;
}

.bannerOptionsSec3Options > div > button {
  background-color: var(--fourth-color);
  color: var(--primary-color);
  width: 244px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px 15px 10px 10px;
}

.SecondSecContainer {
  width: 100%;
  max-width: 1080px;
  margin: 4rem auto 0;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  text-align: center;
}

.SecondSecHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  /* background-color: red; */
}

.SecondSecHeader > h3 {
  color: var(--primary-color);
  font-size: 55px;
  font-weight: 400;
  font-family: "HudHund";
}

.SecondSecHeader > p {
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: 400;
}

.SecondSecTabsContainer {
  display: flex;
  gap: 10px;
  padding: 8px 10px 8px 10px;
  border-radius: 10px;
  border: 1px solid var(--black-color);
  width: fit-content;
  margin: 0 auto;
}

.SecondSecTabsContainer > button {
  color: var(--primary-color);
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  position: relative;
  transition: all ease 0.2s;
}

.SecondSecTabsContainer > button:hover {
  background-color: var(--fourth-color);
}

.SecondSecTabsContainer > button:nth-child(2)::before {
  content: "";
  position: absolute;
  right: 0;
  top: 15px;
  height: 17px;
  width: 1px;
  background-color: var(--primary-color);
}
.SecondSecTabsContainer > button:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  height: 17px;
  width: 1px;
  background-color: var(--primary-color);
}

.SecondSecTabsContainer > button.active {
  background-color: var(--fourth-color);
}

.SecondSecCardContainer {
  display: flex;
  gap: 45px;
}

.SecondSecCardContainer .MiniCard {
  width: 330px;
  border-radius: 16px;
  border: 0.5px solid var(--primary-color);
  position: relative;
  box-shadow: 1px 2px 6px 0px #0000001a, 5px 10px 11px 0px #00000017,
    12px 22px 15px 0px #0000000d, 22px 39px 18px 0px #00000003,
    34px 62px 20px 0px #00000000;
  padding: 10px;
}

.SecondSecCardContainer .MiniCard > button {
  background-color: var(--primary-color);
  color: var(--fourth-color);
  border-radius: 10px;
  font-weight: 400;
  font-size: 1rem;
  padding: 7px 20px 7px 20px;
  width: 100%;
  transition: all ease 0.2s;
}
.SecondSecCardContainer .MiniCard > button:hover {
  background-color: var(--secondary-color);
}

.DiscountIcon {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.MiniCardDescription > h4 {
  color: var(--primary-color);
  border-bottom: 0.7px solid var(--primary-color);
  /* font-size: 1.2rem; */
  font-weight: 500;
  /* background-color: red; */
}

.MiniCardDescription > section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 49px;
  row-gap: 12px;
}

.MiniCardDescription > section > div {
  display: flex;
  align-items: center;
  gap: 7px;
}

.MiniCardDescription > section > div > p {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}


.SecondSecPaginateContainer > div:nth-child(2) {
  /* background-color: blue; */
  margin-right: 7rem;
}
.SecondSecPaginateContainer > div:last-child {
  color: var(--primary-color);
}

.ThirdSecContainer {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ThirdSecSecondBackdrop {
  background-color: var(--fifth-color);
  width: 100%;
  height: 615px;
  border-radius: 0px 307.5px 19px 0px;
  background-image: url("./assets/imgandIcons/Mask-group.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 4.5rem;
  position: relative;
  z-index: 10;
}

.ThirdSecSecondBackdrop > div:first-child {
  width: 615px;
}
.ThirdSecSecondBackdrop > div:first-child > h4 {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 55px;
  font-family: "Hudhund";
}

.ThirdSecSecondBackdrop > div:first-child > p {
  color: var(--text-color);
  font-weight: 400;
  /* font-size: 15px; */
  line-height: 36px;
  text-align: justify;
}

.ThirdSecSecondBackdrop > section {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 25px 55px;
  position: absolute;
  width: 780px;
  bottom: -80px;
  right: 35px;
}

.ThirdSecSecondBackdrop > section > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.ThirdSecSecondBackdrop > section > div > img {
  width: 62px;
  height: 54px;
}

.ThirdSecSecondBackdrop > section > div > span:nth-child(2) {
  color: var(--white-color);
  font-size: 2.4rem;
  font-weight: 400;
}

.ThirdSecSecondBackdrop > section > div > span:nth-child(3) {
  color: var(--fifth-color);
  /* font-size: 16px; */
  font-weight: 400;
}

.ThirdSecSecondBackdrop > .CoffeBoard {
  position: absolute;
  bottom: -550px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

.HomeCoffeBoardTextContainer {
  max-width: 1200px;
  /* background-color: red; */
  margin: 10rem auto 0;
}

.HomeCoffeBoardText {
  max-width: 530px;
}

.HomeCoffeBoardText > h4 {
  font-weight: 400;
  font-size: 45px;
  font-family: "Hudhund";
  position: relative;
}
.HomeCoffeBoardText > h4 > img {
  position: absolute;
  bottom: -20px;
  rotate: -10deg;
}
.HomeCoffeBoardText > p {
  font-weight: 400;
  /* font-size: 15px; */
  line-height: 35px;
  text-align: justify;
}

.ForhSecContainer {
  /* background-color: red; */
  max-width: 1300px;
  margin: 10rem auto 0;
  display: flex;
  gap: 2rem;
}

.ForhSecContainer > section:first-child {
  position: relative;
}

.ForhSecContainer > section:first-child > img:first-child {
  /* rotate: -90deg; */
}